################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/SchoolGameCraneDemo2/v15/.suo
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
