#background {
    width: 1200px;
    height: 600px;
    background: linear-gradient(lightblue, white);
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}