#background {
    width: 1200px;
    height: 600px;
    background: url(background.png) repeat-x;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    animation: slide 12s linear infinite;
}

@keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -1200px 0; }
}